node_modules
.next
.git
.github
contracts/target
*.md
!README.md
screenshots
demo
coverage
test-results
playwright-report
e2e
src/__tests__
jest.config.js
playwright.config.ts
.eslintrc.json
.commitlintrc.json
.cspell.json
.mlc_config.json
.prettierrc
.prettierignore
.editorconfig
.gitattributes
.gitignore
Makefile
.npm
.env*
